ENROOT_RUNTIME_PATH {ENROOT_SCRATCH_DIR}/enroot-run/user-$(id -u)
ENROOT_CACHE_PATH {ENROOT_SCRATCH_DIR}/enroot-cache/group-$(id -g)
ENROOT_DATA_PATH {ENROOT_SCRATCH_DIR}/enroot-data/user-$(id -u)
ENROOT_TEMP_PATH {ENROOT_SCRATCH_DIR}/enroot-temp
ENROOT_SQUASH_OPTIONS -noI -noD -noF -noX -no-duplicates
ENROOT_MOUNT_HOME y
ENROOT_RESTRICT_DEV y
ENROOT_ROOTFS_WRITABLE y
MELLANOX_VISIBLE_DEVICES all